@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors  */
  --accent-state-clr: hsl(1, 90%, 64%);
  --primary-clr: hsl(219, 85%, 26%);

  --white-clr: hsl(0, 0%, 100%);
  --light-gray-primary: hsl(210, 60%, 98%);
  --light-gray-secondary: hsl(211, 68%, 94%);
  --light-gray-tertiary: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --dark-clr-blue: hsl(224, 21%, 14%);

  /* Typography  */
  --ff-default: "Plus Jakarta Sans", sans-serif;

  --fw-reg: 500;
  --fw-lg: 800;

  --fz-small: 0.84rem;
  --fz-default: 0.9rem;
  --fz-med: 1.2rem;

  /*  Components */
  --shadow: 3px 3px 20px hsl(from var(--dark-grayish-blue) h s l / 0.1);
  --border-full: 100vw;
  --border-reg: 12px;
  --padding-base: var(--fz-small);
}

/* General Default Styling */

body {
  margin: 0;
  font-family: var(--ff-default);
  font-size: var(--fz-default);
  line-height: 1.5;
  background: var(--light-gray-primary);
  color: var(--light-gray-tertiary);
  font-weight: var(--fw-reg);
}

h2 {
  font-weight: var(--fw-lg);
  text-wrap: balance;
  line-height: 1.2;
}

button,
input {
  background-color: transparent;
  border: transparent;
  outline: transparent;
}

button,
input,
label {
  font: inherit;
  display: inline-block;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

h2,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

main {
  display: grid;
  place-items: center;
  min-height: 95vh;
}

/* Components Styling */

.cards {
  width: min(640px, 100% - 1rem);
  background: var(--white-clr);
  box-shadow: var(--shadow);
  border-radius: var(--border-reg);
  padding: calc(var(--padding-base) * 2) calc(var(--padding-base) * 1.8);
  display: grid;
  gap: 2rem;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__title {
      color: var(--dark-clr-blue);
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .count-notif {
        display: grid;
        place-content: center;
        color: var(--white-clr);
        border-radius: 4px;
        width: 1.5rem;
        height: 1.5rem;
        font-size: var(--fz-small);
        background: var(--primary-clr);
      }
    }

    .toggle-btn {
      color: var(--grayish-blue);
    }
  }

  .card-notification-lists {
    display: grid;
    gap: 0.5rem;

    .notification__li {
      display: flex;
      color: var(--dark-clr-blue);
      padding: 0.8rem;
      cursor: pointer;

      & img {
        width: 2.8rem;
        aspect-ratio: 1;
        align-self: center;
        margin-right: 1rem;
      }

      .notification__li_content {
        .name {
          margin-right: 0.2rem;
          align-self: center;
          font-weight: var(--fw-lg);
          margin-bottom: 0;
          color: var(--dark-clr-blue);
          min-width: fit-content;
        }

        .duration {
          display: block;
          font-weight: var(--fw-reg);
          color: var(--grayish-blue);
        }

        strong {
          margin-left: 0.2rem;
          font-weight: var(--fw-lg);
          color: var(--grayish-blue);
        }

        .regular {
          font-weight: var(--fw-reg) !important;
        }

        .highlight-text {
          color: var(--primary-clr);
          font-weight: var(--fw-lg);
        }
      }
    }

    .notification__li[data-status="new-notif"] {
      background: hsl(from var(--light-gray-secondary) h s l / 0.5);
      border-radius: 6px;
      position: relative;

      .notification__li_content {
        strong {
          &::after {
            content: "";
            height: 0.5rem;
            width: 0.5rem;
            border-radius: var(--border-full);
            position: absolute;
            background: var(--accent-state-clr);
            right: 1rem;
            top: 1rem;
          }
        }
      }
    }

    .notification__li:nth-child(4) {
      display: grid;
      grid-template-columns: auto auto 1fr 1fr;
      padding: 0.8rem;
      gap: 0.5rem 0;

      .notification__li_content {
        grid-column: 2 / -1;
      }

      .large-content {
        grid-column: 2 /-1;
        grid-row: 2;
        color: var(--dark-grayish-blue);
        border: 1px solid hsl(from var(--grayish-blue) h s l / 0.4);
        border-radius: 6px;
        padding: 0.8rem;
      }
    }

    .notification__li:nth-child(5) {
      img:last-child {
        margin-left: auto;
        margin-right: 0;
      }

      .notification__li_content {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

/* Author */

.attribution {
  position: fixed;
  bottom: 0;
  background: var(--dark-clr-blue);
  width: 100%;
  padding: 1.4rem;
  text-align: center;
  color: var(--white-clr);

  a {
    color: var(--light-gray-secondary);
  }
}
